@import "../common/const";
@import "local_const";

@include keyframes(black-hole-glow) {
  0% {
    box-shadow: 0 0 2px rgb(255, 24, 0) inset;
  }
  50% {
    box-shadow: 0 0 32px rgb(255, 24, 0) inset;
  }
  100% {
    box-shadow: 0 0 2px rgb(255, 24, 0) inset;
  }
}

@keyframes mercy-glow {
  0% {
    box-shadow: 0 0 0px $quater inset;
  }
  50% {
    box-shadow: 0 0 32px $quater inset;
  }
  100% {
    box-shadow: 0 0 0px $quater inset;
  }
}

// --- ОЦЕНКА

@-webkit-keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@include keyframes(godAnimation) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@include keyframes(godAnimation2) {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@include keyframes(godAnimation) {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}