@import "local_const";
// разукрашиваю таблицы в разные цвета

$bgcolors: #d6a503, #5da200, #58ae8e, #0084b2, #b25e78, #d18869;
$fgcolors: #e0f470, #e0f470, #e0f470, #e0f470, #e0f470, #e0f470;
$bgimages: "images/repin_sadko.jpg",
"images/repin_sadko.jpg",
"images/mother-of-the-world-1937.jpg",
"images/repin_sadko.jpg",
"images/repin_sadko.jpg",
"images/repin_sadko.jpg",
"images/repin_sadko.jpg";

$color: #f49900;
$color2: #ffe500;
//$step: 35;
$max_tables: length($bgcolors) - 1;


.l-table {
    border-top: 1px solid $table-border-color;
    border-right: 1px solid $table-border-color;
    .t-cell-icon {
        display: none;
    }

    // для создания эффекта плавной загрузки
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    &.showable {
        opacity: 1;
    }

    .hover {
        .t-cell {
            background-color: white;
            .t-cell-icon {
                display: inline;
                color: lighten($table-border-color, 7);
            }
        }
        .done {
            .t-cell-icon {
                display: none;
                color: inherit;
            }
        }
    }
    .t-row {
        td:last-child {
            .t-cell {
                border-right: none;
            }
        }
    }


    //@import "students/color_lab_table_with_pics";

    .t-cell-task {
        @include choices(3);
    }

    .task-title {
        cursor: pointer;
        //background-color: #ffffff;
        padding-top: $row-height / 2 + 4px;
        font-size: $row-height / 2 - 3px;
        padding-bottom: 2px;
    }

    .t-cell {
        -webkit-transition: background-color 0.3s, opacity 1s;
        -moz-transition: background-color 0.3s, opacity 1s;
        -ms-transition: background-color 0.3s, opacity 1s;
        -o-transition: background-color 0.3s, opacity 1s;
        transition: background-color 0.3s, opacity 1s;
        opacity: 1;
        &.changed {
            //box-shadow: 0 0 0 4px #008000 inset;
            //border-color: ;
        }
    }

    .lab-title {
        @include transition(0.3s);
        position: absolute;
        left: 0;
        right: 0;
        overflow: hidden;
        font-size: $row-height / 2.5;
        text-align: center;
        z-index: 99;
        background-color: white;
        border-bottom: 1px solid $table-border-color;
        //        border-right: 1px solid $table-border-color;
    }


    .tooltip {
        font-size: 1em;
        .tooltip-inner {
            //          border-radius: 0;
            //          background-color: white;
        }
    }

}

@for $i from 0 through $max_tables {
    &:nth-child(#{$i+1}) {

        .l-table {

            $color: nth($bgcolors, $i + 1);
            $color2: nth($fgcolors, $i + 1);

            background-color: rgba(hsl(hue($color2), saturation($color2), 97), 0.5);
            background-image: url(nth($bgimages, $i + 1)); //url('images/repin_sadko.jpg'); //url(nth($bgimages, $i + 1));
            &:hover {
                .lab-title {
                    background-color: lighten($color2, 0);
                }
            }

            .lab-title {
                //background-color: lighten($color2, 25);
                color: darken($color, 40);
                text-shadow: 0 0 1px white;
            }

            .t-cell-task:hover {
                @include choices(13);
            }

            .task-title {
                &:hover {
                    //background-color: lighten($color2, 25);
                    color: darken($color, 20);
                    text-shadow: 0 0 1px white;
                }
            }

            .t-header, .t-footer {
                //background-color: hsl(hue($color2), saturation($color2), 97);
            }

            .t-cell {
                //background-color: hsl(hue($color2), saturation($color2), 97);
                display: block;
            }

            .done, .hover-hide .mark {
                $doneclass: fast-normal, normal, normal-slow, slow, slow-veryslow, veryslow;
                $base: 0.3;
                border-right: none;
                background-color: rgba(0, 0, 0, 0);
                color: darken($color, 30);

                @for $j from 1 to length($doneclass) + 1 {
                    &.#{nth($doneclass, $j)} {
                        background-color: transparent;
                    }
                }
            }

            .hover-hide .mark {
                opacity: 0.1;
            }

            .tooltip {
                &.bottom {
                    .tooltip-arrow {
                        border-bottom-color: $color;
                    }
                }
                &.top {
                    .tooltip-arrow {
                        border-top-color: $color;
                    }
                }
                .tooltip-inner {
                    color: darken($color, 40);
                    box-shadow: 0 0 4px darken($color, 20);
                    background-color: lighten($color2, 20);
                }
            }

            .t-content {
                &.visible-image {
                    .t-cell.mark {
                        background-color: rgba(0, 0, 0, 0);
                        border-right: none;
                    }
                }

                .t-row {
                    border-bottom-color: transparent;
                    &:hover {
                        .t-cell {
                            background-color: white;
                            &.done {
                                background-color: rgba(white, 0.1);
                            }
                        }
                    }
                }
            }

            .t-cell {
                //@include transition(0.1s);
                &.changed {
                    box-shadow: 0 0 0 4px darken($color, 25) inset;
                }
            }
        }
    }
}

// конец цикла разукрашивания таблиц