.details {
  background-color: lighten($base_color, 3);
  margin: -1em;
  //margin-bottom: 0;
  ul {
    border-bottom: 0 !important;
    &.groups {
      li {
        a {
          border-top: none !important;
        }
      }
      border-right: none !important;
    }
    &.main {
      visibility: hidden;
      max-width: $nav-height;
    }
  }
}

.menu, .details {
  position: relative;
  $height: $nav-height;
  $border_top_width: 5px;
  $hover-height: 3 * $height;

  background-color: $base_color;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.groups, &.main, &.disciplines {
      border-bottom: 2px solid $base_color;

      overflow: hidden;

      li {
        &.nav-main-button {
          .title {
            padding: 0.5em;
            font-size: 1.25em;
          }
        }
        //max-width: 50%;
        float: left;
        a {
          white-space: nowrap;
          cursor: pointer;
          position: relative;
          display: block;

          text-align: center;

          @include transition(0.3s);

          .title {
            height: 41px;
            //padding: 0.5em;
            .group-title {
              padding-top: 0.1em;
              font-size: 1.25em;
            }
            .group-year{
              margin-top: -0.1em;
              font-size: 0.75em;
            }
            bottom: 1em;
            color: white;
          }
        }
        &.active {
          a {
            cursor: auto;
            border-top: $border_top_width solid lighten($base_color, 40);
          }
        }
      }

      // это основные цвета для заголовка
      $colors:
      #3ec0ee,
      #3bf0b5,
      #cdf43d,
      #ffdf36,
      #ffac2b,
      #ff8130,
      #ff644e,
      #ff4a7b;

      @for $i from 1 to length($colors) + 1 {
        $color: nth($colors, $i);
        li:nth-child(#{$i}) {
          &:hover {
          }
          a {
            background-color: $color;
            border-top: $border_top_width solid lighten($color, 20);
            box-shadow: 0 0 6px darken($color, 20);
            &:hover {
              border-top: $border_top_width solid lighten($color, 30);
            }
            .title {
              @if ($i > 8) {
                color: black;
              }
            }
          }
          &.active {
            a {
              pointer-events: none;
              border-top: $border_top_width solid white;
              .title {
                text-decoration: none;
              }
              .info {
                opacity: 1;
              }
            }
          }
          @for $mark from 1 to 7 {
            .group-global-mark-#{$mark} {
              background-color: darken($color, 7*$mark);
              .group-global-mark-summ {
                background-color: darken($color, 6*$mark);
                box-shadow: 2px 0 2px darken($color, 7*$mark) inset, 0 0 4px darken($color, 8*$mark);
              }
              .group-global-mark-summ-info {
                @if $mark == 1 {
                  color: darken($color, 35);
                } @else {
                  color: darken($color, 35);
                }
                &.sml {
                  color: lighten($color, 20);
                }
              }
              &:hover {
                .group-global-mark-summ {
                  background-color: lighten($color, 3*$mark);
                }
              }
            }
          }
          .group-global-mark--2 {
            background-color: mix($color, red, 85%);
          }
        }
      }
      &.full {

        .group-global-mark {

          top: 0;
          bottom: 0;
          height: 100%;
          float: left;
          position: relative;
          overflow: hidden;

          img {
            position: absolute;
            margin: auto;
            padding: 4px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
          }

          .group-global-mark-summ {
            background-image: url("images/paisley_pattern_02.png");
            background-repeat: repeat-x;
            background-position: left 10px top;

            @include transition(0.3s);

            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: -2px 0 2px black;


          }
          .group-global-mark-summ-info {
            @include transition(0.3s);

            left: -100px;
            position: absolute;
            color: white;
            text-align: center;
            width: 100%;
            opacity: 0;
            display: block;
            padding-top: 0.75em;
            padding-bottom: 0.25em;
            font-size: 1.2em;
            font-weight: bold;
            text-shadow: 0 0 10px white;
          }
          &:hover {
            .group-global-mark-summ-info {
              opacity: 100;
              left: 0;
            }
          }
        }

        li {
          a {
            height: $hover-height * 2;

            .info {
              opacity: 1;
              display: block;
              background: transparent;
              $size: 0.72 * $hover-height - $hover-height * 0.09;
              height: $size*1.25;
              width: $size*1.25;
              line-height: $size;
              border-radius: 1px;
              margin: 0 auto;
              margin-bottom: 1em;

              @include transition(0.3s);
            }
          }
        }
      }
    }

    @media (max-width: $width-xsmall) {
      &.full {
        li {
          &:first-child {
            padding-top: 0.5em;
          }
          .info {
          }
        }
      }
    }

    &.main {
      @media (min-width: $width-medium) {
        border-left: 2px solid $base_color;
      }
      float: left;
      overflow: hidden;
      li {
        a {
          box-shadow: 0 0 2px white;
          width: $nav-height;
        }
      }
    }
    &.groups {
      @media (min-width: $width-medium) {
        border-right: 2px solid $base_color;
      }
    }

    &.disciplines {
      max-height: 0;
      position: absolute;
      z-index: 100;
      @include transition(0.3s);
      &.show {
        max-height: 500px;
      }

      li {
        a {
          border-top: 0 !important;
        }
        max-width: none;
      }
    }
  }
}

@media (max-width: $width-medium) {
  .menu {
    position: fixed !important;
    z-index: 100;
    width: 100%;
  }
}