@import "common/const";
@import "common/spec-buttons";
@import "common/admin_panel";
@import "bootstrap_custom";
@import "custom-fonts";

$nav-height: 50px;

body {
  @include transition(0.3s);
  font-family: 'PT Sans', Georgia, "Times New Roman", Times, serif !important;
  background-color: darken($base_color, 30);
}

.back-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  opacity: 0.65;
  background:
  url("images/flower_ornament_everywhere_300_.png"),
  url("images/flower_ornament_everywhere_300_alpha.png"),
  repeating-linear-gradient(
      -45deg,
      darken($base_color, 40),
      darken($base_color, 40) 30px,
      darken($base_color, 35) 30px,
      darken($base_color, 35) 60px
  );

  background-position: top left, top 150px left 0, top left;
}


#content {
  $border-color: darken($base_color, 40);
  box-shadow: 0 5px 10px darken($base_color, 15);
  background: white;

  //padding: 1em;
  @media (min-width: $width-medium) {
    border-left: 2px solid $base_color;
    border-right: 2px solid $base_color;
    margin-bottom: 50px;
    border-radius: 0 0 12px 12px;
    border-bottom: 8px solid $border-color;
  }

  @media (max-width: $width-medium) {
    padding-top: 3.25em;
    .main {
      display: none;
    }
    .full {
      li {
        float: left;
        width: 100% !important;
        max-width: none;
        a {
          height: $nav-height * 4;
        }
        .info {
          margin: 0 !important;
          display: inline-block !important;
        }
        padding: 0.25em 0;
        box-shadow: 0 0 2px darken($base_color, 30);
      }
    }
     border-bottom: none;
  }
}

#content-wrapper {
  padding: 1em;
}

#footer {
  box-shadow: 0 8px 8px darken($base_color, 40) inset;
  margin: 0;
  padding: 0.65em;
  padding-bottom: 0.5em;

  color: white;
  background: repeating-linear-gradient(
                  to right,
                  $base_color,
                  $base_color 15px,
                  darken($base_color, 30) 15px,
                  darken($base_color, 30) 16px,
                  darken($base_color, 20) 16px,
                  darken($base_color, 20) 30px
  );
  .mail-info {
    padding: 0.35em 1em;
    float: right;
    border-radius: 0.25em;
    @include transition(0.3s);
    background-color: rgba(255, 255, 255, 0.75);
    color: darken($base_color, 40);
    a {
      color: darken($base_color, 40);
    }

  }

}

.main-info {
  .left, .right {
  }
  .left {

    background-color: #50b3fa
  }
  .right {
    background-color: white;
  }
}

.main-picture {

}

.container {
  padding: 0 !important;
}

@import "menu";

.admin-line {
  margin-bottom: 0.5em;
}

.dropdown {
  clear: none;
  display: inline-block;

  .dropdown-menu {
    @media (max-width: $width-xsmall) {
      li {
        a {
          white-space: normal;
        }
      }
    }

    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  &.open {
    .dropdown-menu {
      -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
      -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
      -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
      -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
      transition: max-height 0.3s, opacity 0.2s, visibility 0s;

      max-height: 300px;
      opacity: 1;
      visibility: visible;
    }
  }
}

#main-page-info {
  padding: 1em;
  background-color: darken($base_color, 30);
  box-shadow: 0 4px 8px 8px darken($base_color, 41) inset;
}

#main-page-image {
  max-height: 500px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.main-page-info {
  color: #b7d1e5;
  text-align: center;
  font-size: 1.4em;
  p:last-child {
    margin-bottom: 0px;
  }
}

@mixin delay ($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

@import "loading";
@import "icons";
