@import "common/const";
@import "common/spec-buttons";
@import "common/admin_panel";
@import "bootstrap_custom";
@import "custom-fonts";

$nav-height: 50px;

body {
  @include transition(0.3s);
  font-family: Georgia, "Times New Roman", Times, serif !important;
  background-color: darken($base_color, 30);
  //background-image:
}

.back-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  opacity: 0.65;
  background:
  url("images/flower_ornament_everywhere_300_.png"),
  url("images/flower_ornament_everywhere_300_alpha.png"),
  repeating-linear-gradient(
      -45deg,
      darken($base_color, 40),
      darken($base_color, 40) 30px,
      darken($base_color, 35) 30px,
      darken($base_color, 35) 60px
  );

  background-position: top left, top 150px left 0, top left;
}


#content {
  $border-color: darken($base_color, 40);
  box-shadow: 0 5px 10px darken($base_color, 15);
  background: white;
  overflow: hidden;

  padding: 1em;
  @media (min-width: $width-medium) {
    border-left: 2px solid $base_color;
    border-right: 2px solid $base_color;
    margin-bottom: 50px;
    border-radius: 0 0 12px 12px;
    border-bottom: 8px solid $border-color;
  }

  @media (max-width: $width-medium) {
    padding-top: 60px;
    .main {
      display: none;
    }
    .full {
      li {
        float: left;
        width: 100% !important;
        max-width: none;
        a {
          height: $nav-height * 4;
        }
        .info {
          margin: 0 !important;
          display: inline-block !important;
        }
        padding: 0.25em 0;
        box-shadow: 0 0 2px darken($base_color, 30);
      }
    }
     border-bottom: none;
  }
}

#footer {
  margin: 0 -1em;
  padding: 1em;
  //background-color: #3ec0ee;
  border-radius: 0 0 4px 4px;
}

.main-info {
  .left, .right {
  }
  .left {

    background-color: #50b3fa
  }
  .right {
    background-color: white;
  }
}

.main-picture {

}

.container {
  padding: 0 !important;
}

@import "menu";

.admin-line {
  margin-bottom: 0.5em;
}

.dropdown {
  clear: none;
  display: inline-block;

  .dropdown-menu {
    @include transition(0.3s);

    @media (max-width: $width-xsmall) {
      li {
        a {
          white-space: normal;
        }
      }
    }
    
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }

  &.open {
    .dropdown-menu {
      max-height: 300px;
      opacity: 1;
    }
  }
}

#main-page-info {
  padding: 1em;
  background-color: darken($base_color, 30);
  box-shadow: 0 4px 8px 8px darken($base_color, 41) inset;
}

#main-page-image {
  max-height: 500px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.main-page-info {
  color: #b7d1e5;
  text-align: center;
  font-size: 1.4em;
  p:last-child {
    margin-bottom: 0px;
  }
}

@mixin delay ($delay) {
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

@import "loading";

