@import "common/const";
@import "common/spec-buttons";
@import "common/admin_panel";
@import "bootstrap_custom";
@import "custom-fonts";

$nav-height: 50px;

body {
  @include transition(0.3s);
  font-family: Georgia, "Times New Roman", Times, serif !important;
  background-color: darken($base_color, 30);
  //background: url("../build/images/paisley.png");
}

#content {
  $border-color: darken($base_color, 40);
  background: white;

  @media (min-width: $width-medium) {
    border-left: 2px solid $base_color;
    border-right: 2px solid $base_color;
  }

  padding: 1em;
  @media (min-width: $width-medium) {
    margin-bottom: 50px;
    border-radius: 0 0 8px 8px;
    border-bottom: 8px solid $border-color;
  }

  @media (max-width: $width-small) {
    padding-top: 60px;
  }

  @media (max-width: $width-medium) {
    .main {
      display: none;
    }
    .full {
      li {
        float: left;
        width: 100% !important;
        max-width: none;
        a {
          min-height: auto !important;
        }
        .info {
          margin: 0 !important;
          display: inline-block !important;
        }
      }
    }
     border-bottom: none;
  }
}

.main-info {
  .left, .right {
  }
  .left {

    background-color: #50b3fa
  }
  .right {
    background-color: white;
  }
}

.main-picture {

}

.container {
  padding: 0 !important;
}

#loading-screen {
  position: fixed;
  left: 0;
  right: 0;
  top: $nav-height + 2px;
  bottom: 0;
  display: none;
  .icon-container {
    position: absolute;
    top: calc(50% - 5em);
    left: calc(50% - 4.2em);
    .load-icon {
      color: $base_color;
      font-size: 10em;
    }
    .info {
      color: $base_color;
    }
  }
}

.details {
  background-color: lighten($base_color, 3);
  margin: -1em;
  ul {
    border-bottom: 0 !important;
    &.groups {
      li {
        a {
          border-top: none !important;
        }
      }
      border-right: none !important;
    }
    &.main {
      visibility: hidden;
      max-width: $nav-height;
    }
  }
}

.menu, .details {
  position: relative;
  $height: $nav-height;
  $border_top_width: 5px;
  background-color: $base_color;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &.groups, &.main, &.disciplines {
      border-bottom: 2px solid $base_color;

      overflow: hidden;

      li {
        max-width: 50%;
        float: left;
        a {
          white-space: nowrap;
          cursor: pointer;
          position: relative;
          display: block;

          text-align: center;

          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;

          .title {
            padding: 0.5em;
            font-size: 1.2em;
            bottom: 1em;
            color: white;
          }
        }
        &.active {
          a {
            cursor: auto;
            border-top: $border_top_width solid lighten($base_color, 40);
          }
        }
      }

      // это основные цвета для заголовка
      $colors:
      #3ec0ee,
      #3bf0b5,
      #cdf43d,
      #ffdf36,
      #ffac2b;

      @for $i from 1 to length($colors) + 1 {
        $color: nth($colors, $i);
        li:nth-child(#{$i}) {
          &:hover {
          }
          a {
            background-color: $color;
            border-top: $border_top_width solid lighten($color, 20);
            box-shadow: 0 0 6px darken($color, 20);
            &:hover {
              border-top: $border_top_width solid lighten($color, 30);
            }
            .title {
              @if ($i > 5) {
                color: black;
              }
            }
          }
          &.active {
            a {
              pointer-events: none;
              border-top: $border_top_width solid white;
              .title {
                text-decoration: none;
              }
              .info {
                opacity: 1;
              }
            }
          }
          @for $mark from 1 to 7 {
            .group-global-mark-#{$mark} {
              background-color: darken($color, 7*$mark);
              .group-global-mark-summ {
                background-color: darken($color, 6*$mark);
                box-shadow: 2px 0 2px darken($color, 7*$mark) inset, 0 0 4px darken($color, 8*$mark);
              }
              .group-global-mark-summ-info {
                @if $mark == 1 {
                  color: darken($color, 18);
                } @else {
                  color: darken($color, 7*$mark);
                }
                &.sml {
                  color: lighten($color, 3*$mark);
                }
              }
              &:hover {
                .group-global-mark-summ {
                  background-color: lighten($color, 3*$mark);
                }
              }
            }
          }
          .group-global-mark--2 {
            background-color: mix($color, red, 85%);
          }
        }
      }
      &.full {
        $hover-height: 3 * $height;

        .group-global-mark {

          top: 0;
          bottom: 0;
          height: 100%;
          float: left;
          position: relative;
          overflow: hidden;
          .group-global-mark-summ {

            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: -2px 0 2px black;
          }
          .group-global-mark-summ-info {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            left: -100px;
            position: absolute;
            color: white;
            text-align: center;
            width: 100%;
            opacity: 0;
            display: block;
            padding-top: 0.75em;
            padding-bottom: 0.25em;
            font-size: 1.2em;
            font-weight: bold;
          }
          &:hover {
            .group-global-mark-summ-info {
              opacity: 100;
              left: 0;
            }
          }
        }

        li {
          a {
            //padding-top: 1em;
            //padding-bottom: 1em;
            height: $hover-height * 2;

            .info {
              opacity: 1;
              display: block;
              background: transparent;
              $size: 0.72 * $hover-height - $hover-height * 0.09;
              height: $size*1.25;
              width: $size*1.25;
              line-height: $size;
              border-radius: 1px;
              margin: 0 auto;
              margin-bottom: 1em;

              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -ms-transition: all 0.3s;
              -o-transition: all 0.3s;
              transition: all 0.3s;
            }
          }
        }
      }
    }

    @media (max-width: $width-xsmall) {
      &.full {
        li {
          &:first-child {
            padding-top: 0.5em;
          }
          .info {
          }
          padding: 0.25em 0;
        }
      }
    }

    &.main {
      @media (min-width: $width-medium) {
        border-left: 2px solid $base_color;
      }
      float: left;
      overflow: hidden;
      li {
        a {
          box-shadow: 0 0 2px white;
          width: $nav-height;
        }
      }
    }
    &.groups {
      @media (min-width: $width-medium) {
        border-right: 2px solid $base_color;
      }
    }

    &.disciplines {
      max-height: 0;
      position: absolute;
      z-index: 100;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &.show {
        max-height: 500px;
      }

      li {
        a {
          border-top: 0 !important;
        }
        max-width: none;
      }
    }
  }
}

@media (max-width: $width-small) {
  .menu {
    position: fixed !important;
    z-index: 100;
    width: 100%;
  }
}

.admin-line {
  margin-bottom: 0.5em;
}

.dropdown {
  clear: none;
  display: inline-block;

  .dropdown-menu {

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    @media (max-width: $width-xsmall) {
      li {
        a {
          white-space: normal;
        }
      }
    }
    
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }

  &.open {
    .dropdown-menu {
      max-height: 300px;
      opacity: 1;
    }
  }
}

#main-page-info {
  padding: 1em;
  background-color: darken($base_color, 30);
  box-shadow: 0 4px 8px 8px darken($base_color, 41) inset;
}

#main-page-image {
  max-height: 500px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.main-page-info {
  color: #b7d1e5;
  text-align: center;
  font-size: 1.4em;
  p:last-child {
    margin-bottom: 0px;
  }
}