from fabric.context_managers import cd, prefix
from fabric.operations import run, local
from fabric.state import env

env.user = 'user_required'
env.hosts = ['host_required']

env.directory = 'directory_required'
env.virtualenvwrapper_workon = 'tealeaf-flask'
env.use_ssh_config=True

def build_assets():
    try:
        local("python manage.py assets --parse-templates build")
        try:
            local("git commit -a -m 'build assets'")
        except:
            pass

        try:
            local("git checkout master")
            local("git merge --no-ff develop")
        except:
            pass
        local("git push")
    finally:
        local("git checkout develop")

def deploy():
    build_assets()
    local('git push')
    with cd(env.directory):
        run("git stash")
        run("git pull")
        with prefix("workon {}".format(env.virtualenvwrapper_workon)):
            run("pip install -r requirements.txt")
            run("python manage.py db upgrade")
            run("touch uwsgi.ini --no-dereference")
    run("git stash apply")