{% if not is_logged and not discipline.files.count() %}
{% else %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_books" data-toggle="dropdown">
            <span class="fa fa-book"></span>
            &nbsp;Файлики&nbsp;
            <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown_books">
            {% for file in discipline.files %}
                <li style="position: relative">
                    <a href="{{ file.url }}">{{ file.title }}</a>

                    {% if is_logged %}
                        <form action="{{ url_for("university.discipline_file_delete", discipline_file_id=file.id) }}"
                              method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    style="position: absolute; right: 0.5em; top: 0">
                                <span class="fa fa-remove"></span>
                            </button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}

            {% if is_logged %}
                <li role="presentation" class="divider"></li>
                <li class>
                    <form action="{{ url_for("university.discipline_file_create", discipline_id=discipline.id) }}"
                          method="post"
                          enctype="multipart/form-data"
                          class="form-inline" style="padding: 0.5em">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" type="text" name="title">
                    <span class="input-group-btn">
                        <button class="btn btn-default"
                                type="button"
                                onclick="document.getElementById('newDisciplineFileInput').click()"
                                ><span class="fa fa-plus"></span></button>
                    </span>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 0.5em">
                            <button type="submit" class="btn btn-primary">
                                Отправить <span class="fa fa-send"></span>
                            </button>
                        </div>
                        <input type="file" name="file" id="newDisciplineFileInput" value="Добавить"
                               style="display: none">
                    </form>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}

