<tr class="t-row">
    {% for lesson in lessons %}
        <td>
            <div class="mark t-cell t-cell-head {{ lesson.style }}"
                 data-toggle="tooltip"
                 data-html="true"
                 data-placement="bottom"
                 rel="tooltip"
                    {% if is_logged %}
                 data-id="{{ lesson.id }}"
                 data-description="{{ lesson.description }}"
                 data-lesson-type="{{ lesson.lesson_type }}"
                 data-discipline_id="{{ lesson.discipline_id }}"
                 data-group_id="{{ lesson.group_id }}"
                 data-style="{{ lesson.style }}"
                 data-date="{{ lesson.date.strftime("%Y-%m-%d") }}"
                 data-score-ignore="{{ lesson.score_ignore }}"
                 data-update-lesson="{{ url_for("university.update_lesson", lesson_id=lesson.id) }}"
                 data-delete-lesson="{{ url_for("university.delete_lesson", lesson_id=lesson.id) }}"
                    {% endif %}
                 data-original-title="{{ lesson.description_rendered }}">
                <span class="label">{{ lesson.date.strftime('%d') if lesson.date else "" }}</span>
            </div>
        </td>
    {% endfor %}
    {% if is_logged %}
        <td>
            <div class="mark t-cell t-cell-head"
                 data-create-lesson="{{ url_for("university.create_lesson") }}"
                 data-discipline_id="{{ discipline.id }}"
                 data-group_id="{{ group.id }}"
                 data-date="{{ now.strftime("%Y-%m-%d") }}"
                    >
                <span class="btn-add">+</span>
            </div>
        </td>
    {% endif %}
</tr>