{% if student %}
    {% if lesson.id in students_info[student.id]['marks'] %}
        {% with mark=students_info[student.id]['marks'][lesson.id] %}
            <td>
                <div {% if is_logged %}
                    data-value="{{ mark.value }}"
                    data-old-value="{{ mark.value }}"
                    data-lesson="{{ lesson.id }}"
                    data-lesson-type="{{ lesson.style }}"
                    data-student="{{ student.id }}"
                {% endif %}
                    class="t-cell mark {{ lesson.style }} {{ mark.style if mark.style else "empty" }} {% if mark.was_updated %}was_updated{% endif %}">
                    {% if mark.value > 0 and mark.value < 10 %}{{ mark.value }}{% endif %}
                    {% if mark.was_updated %}<div class="was-updated"></div>{% endif %}
                </div>
            </td>
        {% endwith %}
    {% else %}
        <td>
            <div {% if is_logged %}
                data-lesson="{{ lesson.id }}"
                data-lesson-type="{{ lesson.style }}"
                data-student="{{ student.id }}"
            {% endif %}
                class="t-cell mark {{ lesson.style }} empty">
            </div>
        </td>
    {% endif %}
{% else %}
    <td>
        <div class="t-cell mark">
        </div>
    </td>
{% endif %}