<div class="t-cell" style="position: relative;">
    {% if is_logged %}
        <div class="student-menu">
            <div class="student-menu-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-group">
                                <input class="form-control" name="second_name" type="text" placeholder="Фамилия"
                                       value="{{ student.second_name if student else "" }}" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="name" type="text" placeholder="Имя"
                                       value="{{ student.name if student else "" }}" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group pull-left" style="margin-right: 1em">
                            <div class="btn-group">
                                <div class="btn btn-female {% if (student.sex == 0 if student else False) %} btn-primary{% else %}btn-default{% endif %} btn-female">
                                    <span class="fa fa-venus"></span>
                                </div>
                                <div class="btn {% if (student.sex == 0 if student else False) %} btn-default{% else %}btn-primary{% endif %} btn-male">
                                    <span class="fa fa-mars"></span>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group pull-right">
                            {% if student %}
                                <button class="btn btn-success btn-update">
                                    <span class="fa fa-save"></span>
                                </button>
                                <button class="btn btn-danger btn-remove">
                                    <span class="fa fa-remove"></span>
                                </button>
                            {% else %}
                                <button class="btn btn-primary btn-add"
                                        data-href="{{ url_for("university.student_create") }}">
                                    <span class="fa fa-plus"></span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-photo" src="{{ student.photo_url if student else "" }}" alt=""
                             style="max-width: 100%; max-height: 100%;">
                        <hr>
                        <div class="btn btn-default btn-image-select">
                            <span class="fa fa-image"> </span>
                        </div>
                        <div class="btn btn-warning btn-image-remove">
                            <span class="fa fa-remove"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="info">
        <table>
            <tbody>
            <tr>
                {% if student %}
                    <td class="name">
                      <span class="pull-left">
                        <span class="name-second-name">{{ student.second_name }}</span>
                        <span class="name-name">{{ student.name }}</span>
                        <span class="name-n">{{ student.name[:1] if student.name else "" }}.</span>
                      </span>
                    </td>
                    <td class="score">
                        <div class="pull-right badge" style="color: green">
                        <span style="display: none;" class="percents"
                              data-value="{{ students_info[student.id]['percents'] }}">{{ students_info[student.id]['percents'] }}</span>
                        <span style="display: none;" class="points"
                              data-value="{{ students_info[student.id]['points'] }}">{{ students_info[student.id]['points'] }}</span>
                        </div>
                    </td>
                {% else %}
                    <td>
                        <span style="text-align: center" class="fa fa-plus"></span>
                    </td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
</div>