<tr class="t-row">
  <td>
    <div class="t-cell s-table-header">
      <div class="marks-students-list-header-button-group">
        <button class="btn btn-sm btn-link btn-students-sorting">
          <span class="fa fa-sort"></span>
          <span class="btn-text">По цвету</span>
        </button>
        <button class="btn btn-sm btn-link btn-students-score">
          <span class="fa fa-star"></span>
          <span class="btn-text">в процентах</span>
        </button>
        <button class="btn btn-sm btn-link btn-hide-nulls pull-right">
          <span class="fa fa-eye"></span>
        </button>
      </div>
    </div>
  </td>
</tr>