<div class="m-lab-title" data-toggle="collapse" href="#lab{{ lab.id }}" data-parent="#labs-accordion">
    <table style="width: 100%">
        <tr>
            {% if is_logged %}
                <td rowspan="2" style="width: 40px">
                    <div class="btn-group-vertical btn-group-sm">
                        <button class="btn btn-default btn-order-up">
                            <span class="fa fa-chevron-up"></span>
                        </button>
                        <button class="btn btn-default btn-order-down">
                            <span class="fa fa-chevron-down"></span>
                        </button>
                    </div>
                </td>
            {% endif %}
            <td rowspan="2">
                {% if is_logged %}
                    <input class="form-control lab-title-input" type="text" value="{{ lab.title }}">
                {% else %}
                    <span>{{ lab.title }}</span>
                {% endif %}
            </td>
            {% if is_logged %}
                <td style="width: 120px">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button class="btn btn-default btn-save">
                                <span class="fa fa-save"></span>
                            </button>
                            <button class="btn btn-primary"><span
                                    class="fa fa-plus"></span></button>
                            <button class="btn btn-danger"><span
                                    class="fa fa-remove"></span></button>
                        </div>
                    </div>
                </td>
            {% endif %}
        </tr>
        <tr>
            {% if is_logged %}
            <td>
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-default toggle-hide">
                            <span class="fa fa-eye-slash"></span>
                        </button>
                        <button data-tooltip="лабораторная содержит список занятий обязательный для всех студентов"
                                class="btn btn-default">
                            <span class="fa fa-user"></span>
                        </button>
                    </div>
                </div>
            </td>
            {% endif %}
        </tr>
    </table>
</div>
<div class="m-lab-info collapse" id="lab{{ lab.id }}" style="">
    <div style="position: relative">
        {#        {% if not user.is_authenticated %}#}
        {% if is_logged or lab.description %}
            <div class="m-lab-description">
                {{ lab.description|safe }}
            </div>
            <hr>
        {% endif %}
        {#        {% else %}#}
        {#            <div class="lab-bgimage-container" style="float: left; padding-right: 1em; position: relative">#}
        {#                <img alt="" data-bind="attr: {src: bgimage}, click: clearImage" style="max-height: 30px"/>#}
        {#                <img alt="" class="preview-lab-image" data-bind="attr: {src: bgimage}"/>#}
        {#            </div>#}
        {#            <input type="file" accept="image/*"#}
        {#                   data-bind="event: { change: setImage.bind($data, $element)  }"/>#}
        {#            <hr/>#}
        {#            <div class="m-lab-description">#}
        {#                <div style="background-color:#f8f8f8;min-width: 20px;min-height: 20px" contenteditable#}
        {#                     data-bind="ckeditorInline: description"></div>#}
        {#                <hr>#}
        {#            </div>#}
        {#        {% endif %}#}
{#        <div class="row">#}
        <div class="m-lab-info-tasks">
            {% for task in lab.tasks %}
                <div {% if is_logged %}data-id="{{ task.id }}"{% endif %} class="m-task {{ task.style }}">
                    {% if is_logged %}
                        <button class="btn m-task-btn-save btn-default"><i class="fa fa-save"></i></button>
                    {% endif %}
                    <table style="table-layout: fixed;width: 100%">
                        <tr>
                            <td class="m-task-label">{{ loop.index }}</td>
                            <td class="m-task-description">
                                {{ task.description|safe }}
                            </td>
                        </tr>
                    </table>
                    {#                    {% include "university/labs/__task_item.html" %}#}
                </div>
            {% endfor %}
        </div>
    </div>
</div>