<tr>
    <td colspan="{{ lab.tasks|length }}">
        <div style="position: relative;">
            <div class="lab-title" style="" data-bind="text: title">{{ lab.title }}</div>
        </div>
    </td>
</tr>
<tr class="t-row">
    {% for task in lab.tasks %}
        <td>
            <div class="t-cell-task" data-original-title="{{ task.description }}"
                 style="position: relative;"
                 rel="tooltip"
                 data-html="true"
                 data-placement="bottom"
                 data-toggle="tooltip"
                    {% if is_logged %}
                        data-id="{{ task.id }}"
                        data-lab="{{ lab.id }}"
                    {% endif %}
                    >
                <div class="t-cell task-title">
                    <span>{{ loop.index }}</span>
                </div>
            </div>
        </td>
    {% endfor %}
</tr>