<div class="form form-inline">
    <select autocomplete="off" name="discipline" id="discipline" class="form-control load-on-change" onchange="disciplineChange(this)">
        {% for d in disciplines %}
            <option
                    {% if d == discipline %}selected=selected{% endif %}
                    value="{{ url_for("university.group_marks", group_id=group.id, discipline_id=d.id) }}">
                {{ d.title }}
            </option>
        {% endfor %}
    </select>

    <div class="btn btn-success btn-save-marks">
        Сохранить
    </div>
</div>
{% if is_logged %}
    {% include "university/marks/_lesson_editor.html" %}
{% endif %}

<script>
    function disciplineChange(item) {
        loadToContent(item.value, null, this);
    }
</script>
