<tr class="t-row">
    {% for lesson in lessons %}
        <td>
            <div class="mark t-cell t-cell-head {{ lesson.style }}"
                 data-toggle="tooltip"
                 data-html="true"
                 data-placement="bottom"
                 rel="tooltip"
                 data-description="{{ lesson.description }}"
                 data-lesson-type="{{ lesson.lesson_type }}"
                 data-style="{{ lesson.style }}"
                 data-date="{{ lesson.date.isoformat() }}"
                 data-score-ignore="{{ lesson.score_ignore }}"
                 data-original-title="{{ lesson.description }}">
                <span>{{ lesson.date.strftime('%d') }}</span>
            </div>
        </td>
    {% endfor %}
    <td>
        <div class="mark t-cell t-cell-head">
            <div class="btn-add">+</div>
        </div>
    </td>
</tr>