<td>
    <div class="t-cell mark {{ lesson.style }} {{ students_marks[student.id][lesson.id].style }}">
    </div>
</td>
{#<% else %>#}
{#    <td>#}
{#      <div data-value="<%= @lms[student][lesson].value %>"#}
{#           data-old-value="<%= @lms[student][lesson].value %>"#}
{#           data-lesson="<%= lesson.id %>"#}
{#           data-lesson-type="<%= Lesson::LESSON_TYPES[lesson.lesson_type][:cls] %>"#}
{#           data-student="<%= student.id %>"#}
{#           class="t-cell mark <%= @lms[student][lesson].style %> <%= lesson.style %>">#}
{#      </div>#}
{#    </td>#}
{#<% end %>#}