<tr class="t-row">
  <td>
    <div class="t-cell s-table-header">
      <div class="marks-students-list-header-button-group">
        <button class="btn btn-sm btn-link btn-students-sorting">
          <span class="glyphicon glyphicon-sort"></span>
          <span data-bind="text: sortMethod() ? sortMethod().title : ''" class="btn-text">По цвету</span>
        </button>
        <button class="btn btn-sm btn-link btn-students-score">
          <span class="glyphicon glyphicon-star"></span>
          <span data-bind="text: scoreMethod" class="btn-text">в процентах</span>
        </button>
        <button class="btn btn-sm btn-link pull-right">
          <span class="glyphicon glyphicon-eye-close"></span>
        </button>
      </div>
    </div>
  </td>
</tr>