<div class="panel panel-default">
    <div class="panel-heading labs-panel-heading" style="cursor: pointer" role="tab" id="headingOne"
         data-toggle="collapse" data-target="#labs-editor">
        <h5 class="panel-title pull-left">
            <span>Лабораторные</span>
        </h5>

{#        {% if user.is_authenticated %}#}
{#            <div class="btn-group pull-right">#}
{#                <button class="btn btn-primary btn-sm" data-bind="click: addLab"><span#}
{#                        class="glyphicon glyphicon-plus"></span></button>#}
{#                <button class="btn btn-warning btn-sm" data-bind="click: refresh"><span#}
{#                        class="glyphicon glyphicon-refresh"></span></button>#}
{#                <button class="btn btn-default btn-sm" data-bind="click: saveAll, css: {'btn-success': changed}"><span#}
{#                        class="glyphicon glyphicon-sort"> Сохранить порядок</span></button>#}
{#            </div>#}
{#        {% endif %}#}
        <div style="clear: both"></div>

    </div>
    <div class="panel-collapse collapse in" id="labs-editor">
        <div class="panel-body" style=" padding: 0">
            <ul class="m-labs">
                {% for lab in labs if is_logged or lab.visible %}
                <li class="m-lab">
                    {% include "university/labs/_lab_item.html" %}
                    {#                    {% include "students/labs/lab.html" %}#}
                    <div style="clear: both;"></div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>