<table class="l-table showable">
    <thead class="t-header" {% if is_logged %}data-id="{{ lab.id }}" {% endif %}>
    {% include "university/labs/_tasks_row.html" %}
    </thead>
    <tbody class="t-content">
    {% for student in students %}
        <tr class="t-row" data-points="{{ students_info[student.id]['points'] }}"
            data-percents="{{ students_info[student.id]['percents'] }}"
            data-second-name="{{ student.second_name }}">
            {% include "university/labs/_students_row.html" %}
        </tr>
    {% endfor %}
    {% if is_logged %}
        <tr class="t-row" data-ignore="">
            {% include "university/labs/_students_row.html" %}
        </tr>
    {% endif %}
    </tbody>
    <tfoot class="t-footer">
    {% include "university/labs/_tasks_row.html" %}
    </tfoot>
</table>