<table class="m-table">
    <thead class="t-header">
    {% include "university/lessons/_lessons_row.html" %}
    </thead>
    <tbody class="t-content">
    {% for student in students %}
        <tr class="t-row" data-points="{{ students_marks[student.id]['points'] }}"
            data-percents="{{ students_marks[student.id]['percents'] }}"
            data-second-name="{{ student.second_name }}">
            {% include "university/lessons/_students_row.html" %}
        </tr>
    {% endfor %}
    {% if is_logged %}
        <tr class="t-row" data-ignore="">
            {% include "university/lessons/_students_row.html" %}
        </tr>
    {% endif %}
    </tbody>
    <tfoot class="t-footer">
    {% include "university/lessons/_lessons_row.html" %}
    </tfoot>
</table>