<div class="details">
    <div id="main-page-info">
{#        <img id="main-page-image" src="https://img-fotki.yandex.ru/get/119695/157516917.0/0_1653a8_cd6f3727_orig" alt="">#}
        <div class="main-page-info">
            Тут пока пусто
        </div>
    </div>
    <ul class="main">
        <li>
            <a href="/">
                <div class="title">
                    <i class="fa fa-pagelines"></i>
                </div>
            </a>
        </li>
    </ul>
    <ul class="groups full">
        {% for group in groups %}
            <li style="width:{{ menu_item_width }}%">
                <a href="javascript: void(0)">
                    <canvas id="info-canvas{{ group.id }}-score" class="info">
                    </canvas>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    setTimeout(function () {
        var ctx;

        Chart.defaults.global.animation = false;
        colors = [
            "#cef08a",
            "#cfeb47",
            "#9cb814",
            "#758a0f",
            "#4e5b0b",
            "#3a4408"
        ];

        titles = [
            'нормально',
            'хорошо',
            'отлично',
            'замечательно',
            'прекрасно',
            'невероятно'
        ];

        $(function () {
            {% for group in groups %}
                data = [
                        {% for score in range(1, 7) %}{
                            value: {{ group.marks(score).count() }},
                            color: colors[{{ score-1 }}],
                            highlight: "white",
                            label: titles[{{ score-1 }}]
                            },
                        {% endfor %}
                ];

                element = document.getElementById("info-canvas{{ group.id }}-score");
                ctx = element.getContext("2d");
                ctx.clearRect(0, 0, element.width, element.height);
                new Chart(ctx).Doughnut(data);
            {% endfor %}
        });
    }, 0);


</script>