<div id="marks-editor">
    <div class="admin-line">
        {% include "university/marks/_admin_line.html" %}
    </div>

    <div class="marks-table">
        <table class="s-table">
            <thead class="t-header">
            {% include "university/marks/_students_menu.html" %}
            </thead>
            <tbody class="t-content">
            {% for student in group.students.all() %}
                <tr class="t-row" data-points="{{ students_marks[student.id]['points'] }}"
                    data-percents="{{ students_marks[student.id]['percents'] }}" data-name="{{ student.second_name }}">
                    <td>
                        {% include "university/marks/_student.html" %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="t-footer">
            {% include "university/marks/_students_menu.html" %}
            </tfoot>
        </table>
        <div class="m-table-container">
            <table class="m-table">
                <thead class="t-header">
                {% include "university/marks/_lessons_row.html" %}
                </thead>
                <tbody class="t-content">
                {% for student in group.students.all() %}
                    <tr class="t-row" data-points="{{ students_marks[student.id]['points'] }}"
                        data-percents="{{ students_marks[student.id]['percents'] }}"
                        data-name="{{ student.second_name }}">
                        {% include "university/marks/_students_row.html" %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot class="t-footer">
                {% include "university/marks/_lessons_row.html" %}
                </tfoot>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% include "university/marks/_marks_selector.html" %}

{% assets filters="yui_js", output="build/scripts/university/group.js",
        "3rdparty/tinycolor/tinycolor.js",
        "scripts/university/marks/_add_tooltips.js",
        "scripts/university/marks/_marks_scrolling.js",
        "scripts/university/marks/_scoring.js",
        "scripts/university/marks/_sorting.js",
        "scripts/university/marks/_students_coloring.js",

        "3rdparty/moment/moment.js",
        "3rdparty/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js",
        "scripts/university/marks/admin/_mark_toggle.js",
        "scripts/university/marks/admin/_lesson_edit.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets filters="cssmin", output="build/styles/university/group.css",
        "3rdparty/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
{% endassets %}
<script>
    new ScoreController();
    new SortController();
    new ScrollController();
    new ColorController();
    new TooltipsController();
    new LessonEditorController();
    new MarksEditorController();
</script>