{#{% if has_visible_labs %}#}
{#    <div class="row">#}
{#    <div class="col-md-6">#}
{#{% endif %}#}
<div id="marks-editor">
    <div class="admin-line">
        {% include "university/lessons/_admin_line.html" %}
    </div>

    {% include "university/__marks_table.html" %}

    {% if is_logged or has_visible_labs %}
        <div class=row>
        <div class="col-md-12">
            <div id="labs-editor">
                {% include "university/__labs_list.html" %}
            </div>
        </div>
        </div>
    {% endif %}
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
{% if is_logged %}
    {% include "university/lessons/_marks_selector.html" %}
{% endif %}

<script>
    new ScoreController();
    new SortController();
    new ScrollController();
    new ColorController();
    new TooltipsController();
    new MarksHoverController();
    new ViewController();
    {% if is_logged %}
        new EditorController({
            urls: {
                save_marks: "{{ url_for("university.save_marks") }}",
                save_tasks_results: "{{ url_for("university.save_task_results") }}"
            }
        });
    {% endif %}
</script>