@import "const";

#admin-panel {
  z-index: 100;
  margin-top: 50px;
  .menu {
    border-bottom: 1px solid black;
    overflow: hidden;
    width: auto !important;
  }
  .content {
    padding: 1em;
    display: none;
  }
  .menu-item {
    height: 40px;
    color: white;
    padding: 10px 15px;
    min-width: 40px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      background-color: lighten($base_color, 10);
    }
  }

  background-color: white;
  border-right: 1px solid black;
  border-top: 1px solid black;
  box-shadow: 0 0 8px silver;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 40px;
  opacity: 0.95;

  &:hover {
    border-right-color: $base_color;
  }

  -webkit-transition: width 0.3s, border-right-color 0.3s;
  -moz-transition: width 0.3s, border-right-color 0.3s;
  -ms-transition: width 0.3s, border-right-color 0.3s;
  -o-transition: width 0.3s, border-right-color 0.3s;
  transition: width 0.3s, border-right-color 0.3s;

  &.open {
    margin-top: 0;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    bottom: 0;
    width: 500px;
    .content {
      display: block;
    }
  }
}

.note-popover {
  display: none;
}