<!-- login modal -->
{% if not is_logged %}
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Вход</h2>
                </div>
                <div class="modal-body">
                    {% from "security/_macros.html" import render_field_with_errors, render_field %}
                    {% include "security/_messages.html" %}
                    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                        {{ login_user_form.hidden_tag() }}
                        {{ render_field_with_errors(login_user_form.email, class="form-control") }}
                        {{ render_field_with_errors(login_user_form.password, class="form-control") }}
                        {{ render_field_with_errors(login_user_form.remember, class="checkbox") }}
                        {{ render_field(login_user_form.next, class="form-control") }}
                        {{ render_field(login_user_form.submit, class="btn btn-default") }}
                    </form>
                    {% include "security/_menu.html" %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<!-- / login modal -->
<div id="enter-button-area">
    {% if not is_logged %}
        <a data-target="#login-modal" data-toggle="modal" id="enter-button">
            <span class="fa fa-sign-in"></span>
        </a>
    {% else %}
        <a id="enter-button" href="{{ url_for("security.logout") }}">
            <span class="fa fa-sign-out"></span>
        </a>
    {% endif %}
</div>

<script>
    login_path = "{{ url_for("security.login") }}";
    $(document).on("load:complete", function () {
        {% if is_logged %}
            $("#enter-button").get(0).href = "{{ url_for("security.logout") }}?next=" + window.location;
        {% else %}
            $("#login-modal form").get(0).action = login_path + "?next=" + window.location;
        {% endif %}
    });
</script>