<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta content='Ому' name='apple-mobile-web-app-title'>
    <meta content='Ому' name='description'/>
    <title>Ому</title>
    {% assets filters="yui_js", output="build/scripts/main.js",
        "3rdparty/jquery/dist/jquery.min.js",
        "3rdparty/bootstrap-sass/assets/javascripts/bootstrap/modal.js",
        "3rdparty/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js",
        "3rdparty/chartjs/Chart.min.js",
        "3rdparty/jquery.cookie/jquery.cookie.js",
        "3rdparty/jquery-pjax/jquery.pjax.js",
        "3rdparty/tinycolor/tinycolor.js",

        "scripts/university/marks/tooltips_controller.js",
        "scripts/university/marks/scoring_controller.js",
        "scripts/university/marks/scrolling_controller.js",
        "scripts/university/marks/sorting_controller.js",
        "scripts/university/marks/coloring_controller.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if is_logged %}
        {% assets filters="yui_js", output="build/scripts/admin.js",
        "3rdparty/underscore/underscore-min.js",
        "3rdparty/backbone/backbone-min.js",
        "3rdparty/moment/moment.js",
        "3rdparty/moment/locale/ru.js",
        "3rdparty/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js",


        "scripts/university/marks/admin/models/student.js",
        "scripts/university/marks/admin/models/lesson.js",
        "scripts/university/marks/admin/models/mark.js",
        "scripts/university/marks/admin/editor.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    {% endif %}

    {% block scripts_top %}{% endblock %}
    {% assets filters="cssmin", output="build/styles/main.css",

        "3rdparty/font-awesome/css/font-awesome.css",
        "3rdparty/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css",

        "styles/base.css",
        "styles/marks.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% block styles %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="menu">
        <ul class="main">
            <li class="nav-main-button">
                <a href="/" class="load-to-content">
                    <div class="title">
                        <i class="fa fa-pagelines"></i>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="groups">
            {% for g in groups %}
                <li data-title="{{ g.title }}"
                    class="nav-group{{ g.id }} {% if group and g.id == group.id %}active{% endif %}"
                    style="width:{{ menu_item_width }}%">
                    <a class="load-to-content" href="{{ url_for('university.group', group_id=g.id) }}">
                        <div class="title">
                            {{ g.title }}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>
<div class="container">
    <div id="loading-screen">
        <div class="icon-container">
            <i class="load-icon fa fa-cog fa-spin fa-5x"></i>

            <div class="info"></div>
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% include "_scripts.html" %}
    {% include "_login_modal.html" %}
</div>

{#<%= render 'layouts/login_modal' %>#}
{#<% if Rails.env.production? %>#}
{#    <%= render 'layouts/yandex_metric' %>#}
{#<% else %>#}
{#    <!-- metric not available in development mode -->#}
{#<% end %>#}
</body>
</html>