{% extends "base.html" %}
{% block body %}
    <style>
        #img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            box-shadow: 0 0 0 4px #004d70, 0 0 0 8px #002e42;
            border-radius: 1em;
            max-width: 100%;
        }

        #body-email {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 1em;

        }

        #body-email a {
            color: white;
        }
    </style>
    <img id="img" src="/static/images/disabled/paul-robertson-1035240.gif">
    <div id="body-email">
        {% set mail_address = 'mmailm.math@mail.ru' %}
        <a href="mailto:{{ mail_address }}">{{ mail_address }}</a>
    </div>

{% endblock %}
